footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
footer form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 5%;
}
footer form .email1 {
  display: flex;
  justify-content: center;
  padding: 5%;
}
footer form .email1 h6 {
  font-size: 1.4rem;
  padding: 2%;
}
