header {
  background-color: #F6F6F6;
}
header h1 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  color: #23293B;
  padding: 1% 0% 0%;
}
header nav {
  display: flex;
  justify-content: center;
  padding: 2%;
}
header nav a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #454A59;
  padding: 0% 1%;
}
@media (max-width: 500px) {
  header nav a {
    padding: 2%;
  }
}
